In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
df = pd.read_csv('MetObjects.csv',sep=",", low_memory=False)

In [3]:
df.shape

(477804, 54)

In [4]:
df.head(10)

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
5,67.265.12,False,False,False,6,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/6,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
6,67.265.13,False,False,False,7,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/7,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Birds|Coins,http://vocab.getty.edu/page/aat/300266506|http...,https://www.wikidata.org/wiki/Q5113|https://ww...
7,67.265.14,False,False,False,8,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/8,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Eagles|Men|Profiles,http://vocab.getty.edu/page/aat/300250049|http...,https://www.wikidata.org/wiki/Q2092297|https:/...
8,67.265.15,False,False,False,9,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/9,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
9,1979.486.3,False,False,False,10,NaN,The American Wing,1979,Coin,Two-and-a-half-dollar Indian Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/10,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [5]:
df.columns

Index(['Object Number', 'Is Highlight', 'Is Timeline Work', 'Is Public Domain',
       'Object ID', 'Gallery Number', 'Department', 'AccessionYear',
       'Object Name', 'Title', 'Culture', 'Period', 'Dynasty', 'Reign',
       'Portfolio', 'Constituent ID', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Artist Gender', 'Artist ULAN URL',
       'Artist Wikidata URL', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Object Wikidata URL',
       'Metadata Date', 'Repository', 'Tags', 'Tags AAT URL',
       'Tags Wikidata URL'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Link Resource            477804 non-null  object
 48  Object Wikidata URL      22265 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               477804 non-null  object
 51  Tags                     200400 non-null  object
 52  Tags AAT URL             200400 non-null  object
 53  Tags Wikidata URL        200400 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 187.3+ MB

In [ ]:
"""
primary_image = []
primary_image_small = []
additional_images = []
for i in range(df.shape[0]):
    if i%1000 == 0:
        print(i)
    if df.iloc[i]['Is Public Domain']:
        Id = df.iloc[i]['Object ID']
        url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/'+str(Id)
        r = requests.get(url)
        json = r.json()
        
        primary_image.append(json['primaryImage'])
        primary_image_small.append(json['primaryImageSmall'])
        additional_images.append(json['additionalImages'])
        r.close()
        
    else :
        primary_image.append(np.nan)
        primary_image_small.append(np.nan)
        additional_images.append(np.nan)
        
        
df['primaryImage'] = primary_image
df['primaryImageSmall'] = primary_image_small
df['additionalImages'] = additional_images

df.head()
"""

In [7]:
df.isna().mean()*100

Object Number                0.000000
Is Highlight                 0.000000
Is Timeline Work             0.000000
Is Public Domain             0.000000
Object ID                    0.000000
Gallery Number              89.163758
Department                   0.000000
AccessionYear                0.744238
Object Name                  0.353911
Title                        6.108153
Culture                     56.597475
Period                      80.963742
Dynasty                     95.137546
Reign                       97.650501
Portfolio                   95.075387
Constituent ID              42.333049
Artist Role                 42.772350
Artist Prefix               42.333049
Artist Display Name         42.333049
Artist Display Bio          42.772350
Artist Suffix               42.343095
Artist Alpha Sort           42.333049
Artist Nationality          42.333049
Artist Begin Date           42.333049
Artist End Date             42.333049
Artist Gender               78.430277
Artist ULAN URL             53.533039
Artist Wikidata URL         54.430687
Object Date                  2.902236
Object Begin Date            0.000000
Object End Date              0.000000
Medium                       1.490151
Dimensions                  15.758344
Credit Line                  0.094390
Geography Type              87.490896
City                        93.217512
State                       99.466308
County                      98.231492
Country                     84.146010
Region                      93.436639
Subregion                   95.369649
Locale                      96.712250
Locus                       98.431784
Excavation                  96.534562
River                       99.561536
Classification              16.367799
Rights and Reproduction     94.935580
Link Resource                0.000000
Object Wikidata URL         95.340139
Metadata Date              100.000000
Repository                   0.000000
Tags                        58.058116
Tags AAT URL                58.058116
Tags Wikidata URL           58.058116
dtype: float64

In [8]:
df = df[df['Classification'].notna()]

In [9]:
df.shape

(399598, 54)

In [ ]:
for x in df["Classification"].unique():
    print(x)

In [10]:
#preprocessing of colums Classification
Classification = []
for classification in df["Classification"]:
    without_space = classification.split()[0]
    without_hyphen = without_space.split('-')[0]
    without_bar = without_hyphen.split('|')[0]
    Classification.append(without_bar)

df["Classification"] = Classification

In [13]:
df['Classification'].unique()

array(['Metalwork', 'Ceramics', 'Textiles', 'Armor', 'Swords', 'Fencing',
       'Sword', 'Daggers', 'Krisses', 'Shafted', 'Helmets', 'Firearms',
       'Shields', 'Archery', 'Combination', 'Knives', 'Miscellaneous',
       'Equestrian', 'Mail', 'Banners', 'Helmet', 'Surcoat', 'Costumes',
       'Saddle', 'Sculpture', 'Coat', 'Kris', 'Books', 'Works', 'Chess',
       'Glass', 'Forgeries', 'Portraits', 'Photographs', 'Brigandines',
       'Horn', 'Cylinder', 'Cloisonné', 'Manuscripts', 'Tools',
       'Paintings', 'Leatherwork', 'Calligraphy', 'Jade', 'Inrō', 'Fans',
       'Rubbing', 'Lacquer', 'Furniture', 'Illustrated', 'Prints',
       'Jewelry', 'Ivories', 'Bone', 'Sharkskin', 'Shell', 'Seals',
       'Woodwork', 'Masks', 'tablets', 'Hardstone', 'Bamboo',
       'paintings:', 'Screens', 'Enamels', 'Soapstone', 'Snuff',
       'Cricket', 'Tomb', 'Ink', 'Inkstone', 'Netsuke', 'Stencils',
       'Mirrors', 'Amber', 'Musical', 'Stone', '(not', 'Woodblocks',
       'Ojime', 'Feathers', 'Smoking', 'Drawings', 'Ivory/Bone',
       'Basketry', 'Reproductions', 'Tobacco', 'Medals', 'Architectural',
       'Gourd', 'Horology', 'Coins', 'Outerwear', 'Main', 'Accessory',
       'Barkcloth', 'Underwear', 'Hide', 'Metal', 'Night', 'Wood',
       'Natural', 'Papier', 'Paper', 'Lapidary', 'Costume', 'Painted',
       'Scientific', 'Wallpaper', 'Crèche', 'Gesso', 'Parchment',
       'Postage', 'Gold', 'Vases', 'Terracottas', 'Cesnola', 'Gems',
       'Bronzes', 'Albums', 'Portfolios', 'Periodicals', 'Ephemera',
       'Transparencies', 'Collages', 'Negatives', 'Assemblages',
       'Manuscript', 'Variable', 'Sound', 'Letters', 'Bindings',
       'Photographic', 'Plaster', 'Bone/Ivory', 'Beads', 'Bark', 'Wax',
       'Ivory', 'Faience', 'Clay', 'Stucco', 'Steatites', 'Blocks',
       'Plates', 'Cut', 'Posters', 'Ornament', 'Sketchbooks', 'Documents',
       'Printed', 'Celluloid', 'Machines', 'Miniatures', 'Pastels',
       'Leather', 'Codices', 'Arms', 'Gaming', 'Membranophone',
       'Jewelry,', 'Frames', 'Plaquettes', 'Snuffboxes', 'Mosaics',
       'Installations', 'Papyrus', 'Parts', 'Miscellany', 'Lighting',
       'Archives', 'Plastic', 'Silver', 'Chordophone', 'Aerophone',
       'Idiophone', 'Models', 'Decorative', 'modern', 'architecture,',
       'Portfolio', 'games', "sculptors'", 'Electrophone', 'Lamps',
       'boxes', 'Postcards'], dtype=object)

In [17]:
#creation of a colum Historical Period
historical_period = []
for i in range(df.shape[0]):
    date = df.iloc[i]['Object Begin Date']
    if date <= 476 :
        historical_period.append("Antiquity")
    if date >= 477 and date <= 1492 :
        historical_period.append("Middle Ages")
    if date >= 1493 and date <= 1800 :
        historical_period.append("Modern Times")
    if date >= 1801 :
        historical_period.append("Contemporary Era")

df["Historical Period"] = historical_period

In [25]:
df.to_csv("data_loic.csv", index=False)

In [ ]:
"""
without_space = set([x.split()[0] for x in list(df["Classification"].unique())]) #without " "
without_hyphen = set([x.split('-')[0] for x in without_space]) #without "-"
without_bar = list(set([x.split('|')[0] for x in without_hyphen]))
print(sorted(without_bar))
"""

In [ ]:
"""
url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/860869'
r = requests.get(url)

print(r.json())

import urllib.request

urllib.request.urlretrieve(r.json()['primaryImage'],
"NASA.jpg")

print("download successful") """